:root {
    --flixbus-groen: #76D528;
    --flixbus-oranje: rgb( 253, 151, 40);
}

*{
    font: 14px/1.6 'Roboto Condensed', 'Arial', sans-serif;
}

body{
    margin: 0;
}

body > header {
    background-color: var(--flixbus-groen);
    position: fixed;
    height: 3.2em;
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    top: 0;
    z-index: 5;
}

body > header > img {
    position: relative;
    top: 25%;
    width: auto;
    height: 22px;
}

nav {
    margin-left: -60px;
    margin-top: -10px;
    margin-top: -0.6em;
}

nav ul {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin:auto;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

nav > ul > li > a {
    color: white; 
}


i {
    margin-left: 2em;
    margin-right: 0.5em;
}

input[type=search] {
    border: 1px solid #444;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    top: 50px;
    left: 0;
    position: fixed;
    right: 0;
    margin: auto;
    width: 200px;
    height: auto;
}

.notification {
    width: 15px;
    height: 15px;
}

footer h3, form h3 {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin: 0.3em;
    color: #444
}

footer > h3 {
    color: white;
}



body > footer {
    width: 100%;
    text-align: center;
    color: #E1E1E1;
    z-index: -1;
    margin-top: auto;
}


footer > img {
    height: auto;
    width: 100vw;
}


main {
    background-image: url(../images/verhalen/ongeluk_mobiel.jpg);
    background-size: cover;
    height: 140em;
    margin-top: 3em;

}


/* Midden */

@media (min-width: 30em) {
    main {
        background-image: url(../images/verhalen/ongeluk_tablet.jpg);
        width: 100vw;
        height: 90em;
    }
}



/* Groot */ 

 @media (min-width: 45em) {
    main {
        background-image: url(../images/verhalen/ongeluk_desktop.jpg);
        width: 100vw;
        height: 120em;
    }
}