:root {
    --flixbus-groen: #76D528;
    --flixbus-oranje: rgb( 253, 151, 40);
}

*{
    font: 14px/1.6 'Roboto Condensed', 'Arial', sans-serif;
}

body{
    margin: 0;
}

/* Header */

body > header {
    background-color: var(--flixbus-groen);
    position: fixed;
    height: 3.2em;
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    top: 0;
    z-index: 5;
}

body > header > img {
    position: relative;
    top: 25%;
    width: auto;
    height: 22px;
}

nav {
    margin-left: -60px;
    margin-top: -10px;
    margin-top: -0.6em;
}

nav ul {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin:auto;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

nav > ul > li > a {
    color: white; 
}


i {
    margin-left: 2em;
    margin-right: 0.5em;
}

input[type=search] {
    border: 1px solid #444;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    top: 50px;
    left: 0;
    position: fixed;
    right: 0;
    margin: auto;
    width: 200px;
    height: auto;
}

.notification {
    width: 15px;
    height: 15px;
}


/* Form */

form {
    border-radius: .5em;
    margin: 0.5em;
    border: solid 1px #E1E1E1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 60px;
}

form > p {
    margin:0;
    margin-top: 0.4em;
    text-align: center;
    display: inline-block;
    align-self: center;
    
}

form li {
    border: solid 1px #76D528;
    padding: 5px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.3em;
    border-radius: 5px;
    color: black;
}

form li:hover {
    background-color: #76D528;
    color: white;
    transition: 0.1s ease-in;
}



input[type=range] {
    margin-top: 0;
    width: 80%;
    align-self: center;
    -webkit-appearance: none;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*border: 1px solid #9a9a9a;*/
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: var(--flixbus-oranje);
    cursor: pointer;
    margin-top: -5px; /* Aangepast voor Chrome*/
    /*box-shadow: 1px 1px 1px #878686, 0px 0px 1px #0d0d0d;*/
  }


input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #c8c8c8;
    border-radius: 3px;
    border: 0.5px solid #c8c8c8;
  }

input[type=submit] {
    display: flex;
    background-color: var(--flixbus-oranje); 
    text-align: center; 
    color: white;
    font-size: 1.125em;
    padding: 0.3em 1.5em;
    border-radius: 0.5em;
    border: none;
    margin: auto; 
    height: auto;
    width: 80%;
    justify-content: center;
    margin-top: 1em;
}

input[type=submit]:hover {
    background-color: rgba( 255, 160, 55, 0.8);
    transition: background-color 0.5s ease-in;
}



/* Main*/

select {
    -webkit-appearance: none;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin: 0.3em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em 1.5em;
    background-color: white;
    color: #444;
    justify-content: center;
    border: 1px #E1E1E1 solid;
    border-radius: 3px;
}

h2, form h2 {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    margin: 0.3em;
    color: #444;
}

div {
    width: 100%;
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
}

article{
    position: relative;
    border-radius: .5em;
    margin: 0.5em;
    border: solid 1px white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(../images/thumbnails/commercieel_thumbnail.jpg);
    background-position: left 100%;
    background-size: cover; 
}

article:nth-of-type(2){
    background-image: url(../images/thumbnails/moeizaam_thumbnail.png);
}

article:nth-of-type(3){
    background-image: url(../images/thumbnails/ongeluk_thumbnail.png);
}

article:nth-of-type(4){
    background-image: url(../images/thumbnails/kater_thumbnail.png);
}

article:nth-of-type(5){
    background-image: url(../images/thumbnails/vrijdag_thumbnail.png);
}

article:nth-of-type(6){
    background-image: url(../images/thumbnails/zombie_thumbnail.jpg);
}

article > header > img:nth-of-type(3), article > header > img:nth-of-type(4) {
    height: 20px;
    width: auto;
}

article > header > img:nth-of-type(1), article > header > img:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 1em;
    height: 30px;
    width: 25px;
    color: white;
} 


article p {
    color: white;
}

article h2 {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    margin: 0.3em;
    color: white;
    display: inline;
}

article ul, form ul {
    display: flex;
    justify-content: center;
    width: 100%;
    -webkit-padding-start: 0px;
    width: 100%;
    margin-bottom: 0.3em;
    margin-top: 0;
}


article li {
    border: solid 1px #76D528;
    background-color: #76D528;
    padding: 2px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.3em;
    border-radius: 5px;
    color: white;
}

article > header {
    text-align: center;
}



p {
    margin: 1em;
    box-sizing: border-box;
    width: 75%;
    text-align: center;
    margin: auto;
}

a {
    color: var(--flixbus-oranje);
    text-decoration:none;
}

 article  button {
    display: flex;
    background-color: var(--flixbus-groen); 
    text-align: center; 
    color: white;
    font-size: 1.125em;
    padding: 0.3em 1.5em;
    border-radius: 0.5em;
    border: none;
    margin: auto; 
    margin-top: 1em;
    width: 80%;
    justify-content: center;
}


button:hover {
    background-color: #80e82c;
    transition: background-color 0.5s ease-in;
}

button > a {
    color: white;
}

footer h3, form h3 {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin: 0.3em;
    color: #444
}

footer > h3 {
    color: white;
}



body > footer {
    width: 100%;
    text-align: center;
    color: #E1E1E1;
    z-index: -1;
    margin-top: auto;
}


footer > img {
    height: auto;
    width: 100vw;
}

.hidden {
    display: none;
}

.hidden2 {
    opacity: 0;
}

/* Midden */

@media (min-width: 35em) {
    main {
        width: 100vw;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

     nav {
        position: relative;
        display: flex;
        width: 100%;
     }

    body > form {
        width: 28em;
        height: 25em;
        margin-left: auto;
        margin-right: auto;
    }

    article {
        width: 42%;
    }
}



/* Groot */ 

 @media (min-width: 55em) {
    body {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        overflow-x:hidden;
        max-width: 1600px;
    }   

    body > header {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-column-gap: 0;
    }

    nav {
        position: relative;
        display: flex;
        width: 100%;
    }

    body > header img {
        width:auto;
        height: 22px;
    
    }

    nav ul {
        justify-content:flex-end;
        margin-right: 1em;
        margin-top: -2px;
    }
     
     nav ul > il {
         margin-right: 1em;
     } 

     div {
         width: 95%;
         margin-top: 5px;
     }

    body > form  {
        grid-column-start: 1;
        grid-column-end: 2;
        margin-top: 4.2em; 
        margin-right: auto;
        margin-left: auto;
    }

    main{
        grid-column-start: 2;
        grid-column-end: 6;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 70em;
        justify-content: flex-start;
    }

    input[type=search] {
        border: none;
        position: initial;
        margin: 0;
        width: 200px;
        height: auto;
    }

    article h2 {
        display: inline;
    }

    select, h2 {
        margin-top: 50px;
    }
     
     article{
         margin:0.5em;
         width: 30em;
     }
     
     body > footer {
         background-image: url('/euro-footer.svg');
         text-align: center;
         height: auto;
         grid-column-start: 1;
         grid-column-end: 6;
         grid-column-gap: 0;    
         width: 100vw;
     }
}

/* Animaties */


.hartAnimatie {
    animation: hartvol 0.5s;
    animation-fill-mode: forwards;
}


@keyframes hartvol {
    0% {
        transform: scale(0.3);
    }
    25% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}



.bookmarkAnimatie {
    animation: bookmarkvol 0.5s;
    animation-fill-mode: backwards;
}


@keyframes bookmarkvol {
    from {
        height: 0;
    }
    to {
        height: 20px;
    }
}

.notificationAnimatie {
    animation: notificatiealert 1.5s;
}

@keyframes notificatiealert {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(0);
    }

    42.5% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.4);
    }

    62.5% {
        transform: scale(0.8)
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
    
.zoekbalkTransitie {
    animation: zoekbalk .5s;
}

@keyframes zoekbalk {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(0);
    }

    42.5% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.4);
    }

    62.5% {
        transform: scale(0.8)
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.zoekenFade {
    animation: zoekendraai 1s;
}

@keyframes zoekendraai {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(720deg);
    }

}