:root {
    --flixbus-groen: #76D528;
    --flixbus-oranje: rgb( 253, 151, 40);
}

*{
    font: 14px/1.6 'Roboto Condensed', 'Arial', sans-serif;
}

h2 > i {
    font-size: 1em;
    margin-left: 5px;
    transform: rotate(180deg);
}

.fa-bookmark {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8em;
    color: white;
} 

h2, form h2 {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    margin: 0.3em;
    color: #444
}

footer h3, form h3 {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin: 0.3em;
    color: #444
}

footer > h3 {
    color: white;
}
article p {
    color: white;
}

article h2 {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    margin: 0.3em;
    color: white
}

article ul, form ul {
    display: flex;
    justify-content: center;
    width: 100%;
    -webkit-padding-start: 0px;
    width: 100%;
    margin-bottom: 0.3em;
    margin-top: 0;
}

form li {
    border: solid 1px #76D528;
    padding: 5px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.3em;
    border-radius: 5px;
    color: black;
}

form li:hover {
    background-color: #76D528;
    color: white;
    transition: 0.1s ease-in;
}

article li {
    border: solid 1px #76D528;
    background-color: #76D528;
    padding: 2px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.3em;
    border-radius: 5px;
    color: white;
}

.liactive {
    background-color: #76D528;
    color: white;
}

body > header {
    background-color: var(--flixbus-groen);
    position: fixed;
    height: 3.2em;
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    top: 0;
    z-index: 5;
}

i {
    margin-left: 2em;
    margin-right: 0.5em;
}

nav {
    margin-left: -60px;
    margin-top: -10px;
    margin-top: -0.6em;
}

body header img {
    position: relative;
    top: 25%;
    width: auto;
    height: 22px;
}

nav ul {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin:auto;
    color: white;
    text-decoration: none;
    list-style-type: none;

}

nav > ul > li > a {
    color: white; 
}


p {
    margin: 1em;
    box-sizing: border-box;
    width: 75%;
    text-align: center;
    margin: auto;
}



body{
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

article{
    position: relative;
    border-radius: .5em;
    margin: 0.5em;
    border: solid 1px white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(../images/commercieel_thumbnail.jpg);
    background-position: left 100%;
    background-size: cover; 
}

article:nth-of-type(2){
    background-image: url(../images/moeizaam_thumbnail.png);
}

article:nth-of-type(3){
    background-image: url(../images/ongeluk_thumbnail.png);
}

article:nth-of-type(4){
    background-image: url(../images/kater_thumbnail.png);
}

article:nth-of-type(5){
    background-image: url(../images/vrijdag_thumbnail.png);
}

article > header > img {
    height: 20px;
    width: auto;
}

form {
    border-radius: .5em;
    margin: 0.5em;
    border: solid 1px #E1E1E1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 60px;
}

p {
    text-align: center;
}

a {
    color: var(--flixbus-oranje);
    text-decoration:none;
}

 article  button {
    display: flex;
    background-color: var(--flixbus-groen); 
    text-align: center; 
    color: white;
    font-size: 1.125em;
    padding: 0.3em 1.5em;
    border-radius: 0.5em;
    border: none;
    margin: auto; 
    margin-top: 1em;
    width: 80%;
    justify-content: center;
}


button:hover {
    background-color: #80e82c;
    transition: background-color 0.5s ease-in;
}

button > a {
    color: white;
}

ul {
    display: flex;
}

form > p {
    margin:0;
    margin-top: 0.4em;
    text-align: center;
    display: inline-block;
    align-self: center;
    
}

input[type=range] {
    margin-top: 0;
    width: 80%;
    align-self: center;
    -webkit-appearance: none;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*border: 1px solid #9a9a9a;*/
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: var(--flixbus-oranje);
    cursor: pointer;
    margin-top: -5px; /* Aangepast voor Chrome*/
    /*box-shadow: 1px 1px 1px #878686, 0px 0px 1px #0d0d0d;*/
  }


input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #c8c8c8;
    border-radius: 3px;
    border: 0.5px solid #c8c8c8;
  }

input[type=submit] {
    display: flex;
    background-color: var(--flixbus-oranje); 
    text-align: center; 
    color: white;
    font-size: 1.125em;
    padding: 0.3em 1.5em;
    border-radius: 0.5em;
    border: none;
    margin: auto; 
    height: auto;
    width: 80%;
    justify-content: center;
    margin-top: 1em;
}

input[type=submit]:hover {
    background-color: rgba( 255, 160, 55, 0.8);
    transition: background-color 0.5s ease-in;
}

body > footer {
    width: 100%;
    text-align: center;
    color: #E1E1E1;
    z-index: -1;
    margin-top: auto;
}


#footer_image {
    height: auto;
    width: 100vw;
}

.hidden {
    display: none;
}

/* Midden */

@media (min-width: 35em) {
    main {
        width: 100vw;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

     nav {
        position: relative;
        display: flex;
        width: 100%;
    }
    h2 {
        display: block;
        width: 100%;
        text-align: center;
        color: #444;
    }

    body > form {
        width: 28em;
        height: 25em;
        margin-left: auto;
        margin-right: auto;
    }

    article {
        width: 42%;
    }
}



/* Groot */ 

 @media (min-width: 45em) {
    body {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        overflow-x:hidden;
        max-width: 1600px;
    }   

    article h2 {
        display: inline;
        margin-left: 35%;
    }

    h2 {
        margin-top: 50px;
    }
     
     main{
         grid-column-start: 2;
         grid-column-end: 6;
         flex-direction: row;
         flex-wrap: wrap;
         max-width: 70em;
         justify-content: flex-start;
     }
     
     article{
         margin:0.5em;
         width: 30em;
     }
      
     body > header {
         grid-column-start: 1;
         grid-column-end: 6;
         grid-column-gap: 0;
     }
     
     body > form  {
         grid-column-start: 1;
         grid-column-end: 2;
         margin-top: 4.2em; 
         margin-right: auto;
         margin-left: auto;
     }
     
     body > footer {
         background-image: url('/euro-footer.svg');
         text-align: center;
         height: auto;
         grid-column-start: 1;
         grid-column-end: 6;
         grid-column-gap: 0;    
         width: 100vw;
     }
     
     nav {
        display: flex;
        width: 100%;
        margin-top: -2.5%
    }

    nav {
        position: relative;
        display: flex;
        width: 100%;
    }

    body > header img {
        width:auto;
        height: 22px;
    
    }

    nav ul {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:flex-end;
        margin-right: 1em;
        color: white;
        text-decoration: none;
        list-style-type: none;

    }
     
     nav ul > il {
         margin-right: 1em;
     } 
}


.hartAnimatie {
    animation: hartvol 0.5s;
    animation-fill-mode: forwards;
}



@keyframes hartvol {
    0% {
        transform: scale(0.3);
    }
    25% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        
    }
}
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    